<!DOCTYPE html>
<html lang="pt-br">
    <%- include("partials/head") %> 
    <body>    
        <header>
           <img src="./assets/logo.svg" alt="Logo Dev Finance">
        </header>    
        <main class="container">
            
            <%- include("partials/balanceCard",{cards}) %>

            <section id="transactions">
                <h2 class="srOnly">Transações</h2>
                
                <a 
                    href="#" 
                    onclick="Modal.toggle()"
                    class="button new">+ Nova Transação</a>
                
                <table id="dataTable">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Data</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </section>
        </main>

        <%- include("partials/modalOverlay") %>
        <%- include("partials/modalError") %>
        <%- include("partials/footer") %>
        <script src="./scripts/script.js"></script>
    </body>
</html>